#section1{
    
    background-image: url("world.jpg");
      text-align:center;
} 
    
#section2{
    background-image: url("paris.jpg");
      text-align:center;
}
#section3{
    
    background-color: LightGrey;
      text-align:center;
}