#section1{
    
    background-image: url("world.jpg");
      text-align:center;
} 
    
#section2{
    background-image: url("paris.jpg");
      text-align:center;
}
#section3{
    
    background-color: LightGrey;
      text-align:center;
}

#section4{
    
       background-image: url("background1.jpg");
      text-align:center;
}

#section5{
    
    background-image: url("hobbies.png");
      text-align:center;
} 
 
 
    
#section7{
     background-color: LightGrey;
      text-align:center;
}



#section8{
       background-image: url("brick.jpg");
      text-align:center;
}

.h2 {
    text-align: center;
    font : 40px;
    color: DarkSlateBlue;
}

.h1 {
    text-align: center;
    font : 30px;
    color: DarkSlateBlue;
}

.p1 {
    text-align: center;
    font : 40px;
    color: DarkGrey;
    background-color: Wheat;
}

.p {
    text-align: center;
    font : 50px;
    color: DarkGrey;
}